<div class="grid grid-5col">
    <div class="flex-col">
        <div class="tiny-dice-label">D4</div>
        <span class="dicier-icon{{#if (eq value 4)}}-bold{{/if}} char-dice-select color-d4" data-name="{{name}}" data-value="4"title="D4">4_ON_D4</span>
    </div>
    <div class="flex-col">
        <div class="tiny-dice-label">D6</div>
        <span class="dicier-icon{{#if (eq value 6)}}-bold{{/if}} char-dice-select color-d6" data-name="{{name}}" data-value="6"title="D6">6_ON_D6</span>
    </div>
    <div class="flex-col">
        <div class="tiny-dice-label">D8</div>
        <span class="dicier-icon{{#if (eq value 8)}}-bold{{/if}} char-dice-select color-d8" data-name="{{name}}" data-value="8"title="D8">8_ON_D8</span>
    </div>
    <div class="flex-col">
        <div class="tiny-dice-label">D10</div>
        <span class="dicier-icon{{#if (eq value 10)}}-bold{{/if}} char-dice-select color-d10" data-name="{{name}}" data-value="10"title="D10">10_ON_D10</span>
    </div>
    <div class="flex-col">
        <div class="tiny-dice-label">D12</div>
        <span class="dicier-icon{{#if (eq value 12)}}-bold{{/if}} char-dice-select color-d12" data-name="{{name}}" data-value="12"title="D12">12_ON_D12</span>
    </div>
</div>