<div class="social-container grid grid-3col">
    <div>
        <div class="flex-group-center">Negativ</div>
        <div class="grid grid-2col flex-group-center">
            <div class="flex-col">
                {{#if sheetIsLocked}}
                <span class="diesel-dice-icon {{#if (eq value_neg 4)}}ddi-selected rollable{{/if}} d4 social-dice"
                    data-roll-type="savingThrow" data-roll="1d4" data-label="{{name}}" title="D4"></span>
                {{else}}
                <span
                    class="diesel-dice-icon {{#if (eq value_neg 4)}}ddi-selected{{/if}} char-dice-select d4 social-dice"
                    data-name="system.social.{{key}}.value_neg" data-value="4" title="D4"></span>
                {{/if}}
            </div>
            <div class="flex-col">
                {{#if sheetIsLocked}}
                <span class="diesel-dice-icon {{#if (eq value_neg 6)}}ddi-selected rollable{{/if}} d6 social-dice"
                    data-roll-type="savingThrow" data-roll="1d6" data-label="{{name}}" title="D6"></span>
                {{else}}
                <span
                    class="diesel-dice-icon {{#if (eq value_neg 6)}}ddi-selected{{/if}} char-dice-select d6 social-dice"
                    data-name="system.social.{{key}}.value_neg" data-value="6" title="D6"></span>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="resource flex-group-center">
        <label for="system.social.{{key}}.name" class="resource-label-social">{{name}}</label>
        <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.social.{{key}}.name" value="{{value_name}}" data-dtype="String" />
        </div>
    </div>
    <div>
        <div class="flex-group-center">Positiv</div>
        <div class="grid grid-3col flex-group-center">
            <div class="flex-col">
                {{#if sheetIsLocked}}
                <span class="diesel-dice-icon {{#if (eq value_pos 8)}}ddi-selected rollable{{/if}} d8 social-dice"
                    data-roll-type="savingThrow" data-roll="1d8" data-label="{{name}}" title="D8"></span>
                {{else}}
                <span
                    class="diesel-dice-icon {{#if (eq value_pos 8)}}ddi-selected{{/if}} char-dice-select d8 social-dice"
                    data-name="system.social.{{key}}.value_pos" data-value="8" title="D8"></span>
                {{/if}}
            </div>
            <div class="flex-col">
                {{#if sheetIsLocked}}
                <span class="diesel-dice-icon {{#if (eq value_pos 10)}}ddi-selected rollable{{/if}} d10 social-dice"
                    data-roll-type="savingThrow" data-roll="1d10" data-label="{{name}}" title="D10"></span>
                {{else}}
                <span
                    class="diesel-dice-icon {{#if (eq value_pos 10)}}ddi-selected{{/if}} char-dice-select d10 social-dice"
                    data-name="system.social.{{key}}.value_pos" data-value="10" title="D10"></span>
                {{/if}}
            </div>
            <div class="flex-col">
                {{#if sheetIsLocked}}
                <span class="diesel-dice-icon {{#if (eq value_pos 12)}}ddi-selected rollable{{/if}} d12 social-dice"
                    data-roll-type="savingThrow" data-roll="1d12" data-label="{{name}}" title="D12"></span>
                {{else}}
                <span
                    class="diesel-dice-icon {{#if (eq value_pos 12)}}ddi-selected{{/if}} char-dice-select d12 social-dice"
                    data-name="system.social.{{key}}.value_pos" data-value="12" title="D12"></span>
                {{/if}}
            </div>
        </div>
    </div>
</div>