<form class="{{cssClass}} {{actor.type}} flexcol flex-fix" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="flexcol">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
      <img src="systems/dieseldrachen-vtt/assets/images/dieseldrachen_logo_small.webp" height="75px"
        class="dieseldrachen-logo-small">
    </div>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-3col resource-group">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}

        <div class="resource flex-group-center">
          <label for="system.power.value" class="resource-label">Alter</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.age" value="{{system.age}}" data-dtype="Number" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.species" class="resource-label">Spezies</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.species" value="{{system.species}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.nation" class="resource-label">Nation</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.nation" value="{{system.nation}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.profession" class="resource-label">Profession</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.profession" value="{{system.profession}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center grid-span-2">
          <label for="system.power.value" class="resource-label">Erscheinung</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.look" value="{{system.look}}" data-dtype="String" />
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="grid grid-4col resource-group">
    <div class="resource flex-group-center grid-span-2">
      {{#if characterSpleen}}
      <label for="system.spleen" class="resource-label"><span class="expandable-trigger"
          data-expandable-target="spleen_{{actor.id}}">{{characterSpleen.name}}</span>
        <a class='item-control item-expand expandable-trigger' data-expandable-target="spleen_{{actor.id}}">
          <i class=" fa-solid fa-caret-down"></i>
        </a>
        <a class='spleen-edit' data-item-id='{{characterSpleen._id}}'>
          <i class='fas fa-edit'></i>
        </a></label>
      <div class="resource-content flexcol flex-center flex-between">
        <div class="small_description expandable closed spleen_{{actor.id}}">
          {{{characterSpleen.system.description}}}
        </div>
      </div>
      {{else}}
      <label for="system.spleen" class="resource-label">Spleen</label>
      <div class="resource-content flexcol flex-center flex-between">
        Spleen per Drag'N' Drop reinschieben
      </div>
      {{/if}}
    </div>
    <div class="resource flex-group-center flexcol">
      <label for="system.condition" class="resource-label">Zustand</label>
      <div class="resource-content flex-center flex-between">
        <textarea name="system.condition" data-dtype="String">{{system.condition}}</textarea>
      </div>
    </div>
    <div class="resource flex-group-center flexcol">
      <label for="" class="resource-label">Verletzungen</label>
      <div class="grid grid-2col">
        <div class="flex-col">
          <span class="icon-light-injury" title="Leichte Verletzungen"></span>
          <input type="text" name="system.lightInjuries" value="{{system.lightInjuries}}" data-dtype="Number"
            class="tiny_input" />
        </div>
        <div class="flex-col">
          <span class="icon-heavy-injury" title="Schwere Verletzungen"></span>
          <input type="text" name="system.heavyInjuries" value="{{system.heavyInjuries}}" data-dtype="Number"
            class="tiny_input" />
        </div>
      </div>
    </div>

  </section>

  <section class="grid grid-8col resource-group">
    <div class="resource flex-group-center">
      <label for="system.health.value" class="resource-label">Gesundheit</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" />
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="mobilityValue" class="resource-label"
        title="Beweglichkeit = 12 - Schutz - 1 Je Gepäckstück (Auf Würfelstufe abgerundet)">Beweglichkeit</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" id="mobilityValue" value="D{{mobilityDice}} | {{mobilityValue}}" disabled />
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="mobilityValue" class="resource-label"
        title="Aktueller Schutz berchnet durch ausgerüstete Kleidung">Schutz</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" id="mobilityValue" value="{{currentArmor}}" disabled />
      </div>
    </div>


    <div class="resource flex-group-center grid-span-2">
      <label for="system.xp" class="resource-label">XP</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" class="xp-input" name="system.xp" value="{{system.xp}}" data-dtype="Number" title="XP erhalten"/>
        <span>-</span>
        <input type="text" class="xp-input" name="system.xpUsed" value="{{system.xpUsed}}" data-dtype="Number" title="XP verwendet"/>
        <span>=</span>
        <input type="text" class="xp-input" name="system.xpLeft" value="{{system.xpLeft}}" data-dtype="Number" disabled title="Verbleibende XP"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.money" class="resource-label">Bargeld</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.money" value="{{system.money}}" data-dtype="Number" />
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.luck" class="resource-label">Glück</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="text" name="system.luck" value="{{system.luck}}" data-dtype="Number" />
        <span> / </span>
        <input type="text" value="3" disabled />
      </div>
    </div>
    <div class="resource flex-group-center">
      <label for="system.luck" class="resource-label">Gesperrt <i class="fa-solid fa-lock"></i></label>
      <div class="resource-content flex-center">
        <input type="checkbox" name="system.locked" {{#if system.locked}}checked{{/if}} data-dtype="Boolean" />
      </div>
    </div>
  </section>

  <!-- Healthbar -->
  <div class="healthbar resource-group">
    {{> "systems/dieseldrachen-vtt/templates/actor/parts/healthbar-partial.hbs" health_value=system.health.value}}
  </div>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Allgemein</a>
    <a class="item" data-tab="social">Sozialstatus</a>
    <a class="item" data-tab="items">Inventar</a>
    <a class="item" data-tab="magic">Magie</a>
    <a class="item" data-tab="description">Notizen</a>
    <!--<a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>-->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="">
        <div class="grid grid-2col">
          <!--<aside class="sidebar"> -->

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="abilities flexcol">
            <div class="attribute-group">
              <div class="flexrow flex-group-center">
                <label for="system.attributes.athletics" class="resource-label align-left attribute-label rollable"
                  data-roll-type="savingThrow" data-roll="1d{{system.attributes.athletics}}" data-label="Athletik">
                  Athletik</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_attr_athletics" name="system.attributes.athletics" value=system.attributes.athletics}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.strength" class="resource-label rollable ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.athletics}}+d{{system.abilities.strength}}"
                  data-label="Kraft">Kraft</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_strength"
                name="system.abilities.strength" value=system.abilities.strength}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.agility" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.athletics}}+d{{system.abilities.agility}}"
                  data-label="Gewandheit">Gewandheit</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_agility"
                name="system.abilities.agility" value=system.abilities.agility}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.condition" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.athletics}}+d{{system.abilities.condition}}"
                  data-label="Kondition">Kondition</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_condition"
                name="system.abilities.condition" value=system.abilities.condition}}
              </div>
            </div>

            <div class="attribute-group">
              <div class="flexrow flex-group-center">
                <label for="system.attributes.skill" class="resource-label align-left attribute-label rollable"
                  data-roll-type="savingThrow" data-roll="1d{{system.attributes.skill}}" data-label="Geschick">
                  Geschick</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_attr_skill" name="system.attributes.skill" value=system.attributes.skill}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.pistols" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.skill}}+d{{system.abilities.pistols}}"
                  data-label="Pistolen">Pistolen</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_pistols"
                name="system.abilities.pistols" value=system.abilities.pistols}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.rifles" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.skill}}+d{{system.abilities.rifles}}"
                  data-label="Gewehre">Gewehre</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_rifles"
                name="system.abilities.rifles" value=system.abilities.rifles}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.sleight_of_hand" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.skill}}+d{{system.abilities.sleight_of_hand}}"
                  data-label="Fingerfertigkeit">Fingerfertigkeit</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_sleight_of_hand"
                name="system.abilities.sleight_of_hand" value=system.abilities.sleight_of_hand}}
              </div>
            </div>

            <div class="attribute-group">
              <div class="flexrow flex-group-center">
                <label for="system.attributes.reaction" class="resource-label align-left attribute-label rollable"
                  data-roll-type="savingThrow" data-roll="1d{{system.attributes.reaction}}"
                  data-label="Reaktion">Reaktion</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_attr_reaction" name="system.attributes.reaction" value=system.attributes.reaction}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.pistols" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.reaction}}+d{{system.abilities.brawl}}"
                  data-label="Prügeln">Prügeln</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_brawl"
                name="system.abilities.brawl" value=system.abilities.brawl}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.fencing" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.reaction}}+d{{system.abilities.fencing}}"
                  data-label="Fechten">Fechten</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_fencing"
                name="system.abilities.fencing" value=system.abilities.fencing}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.steering" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.reaction}}+d{{system.abilities.steering}}"
                  data-label="Lenken">Lenken</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_steering"
                name="system.abilities.steering" value=system.abilities.steering}}
              </div>
            </div>

            <div class="attribute-group">
              <div class="ability flexrow flex-group-center">
                <label for="system.attributes.charisma" class="resource-label align-left attribute-label rollable"
                  data-roll-type="savingThrow" data-roll="1d{{system.attributes.charisma}}"
                  data-label="Charisma">Charisma</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_attr_charisma" name="system.attributes.charisma" value=system.attributes.charisma}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.persuade" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.charisma}}+d{{system.abilities.persuade}}"
                  data-label="Überreden">Überreden</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_persuade"
                name="system.abilities.persuade" value=system.abilities.persuade}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.drama" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.charisma}}+d{{system.abilities.drama}}"
                  data-label="Schauspiel">Schauspiel</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs" group_name="radio_abi_drama"
                name="system.abilities.drama" value=system.abilities.drama}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.society" class="resource-label rollable  align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.charisma}}+d{{system.abilities.society}}"
                  data-label="Gesellschaft">Gesellschaft</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_society"
                name="system.abilities.society" value=system.abilities.society}}
              </div>
            </div>

            <div class="attribute-group">
              <div class="flexrow flex-group-center">
                <label for="system.attributes.intuition" class="resource-label align-left attribute-label rollable"
                  data-roll-type="savingThrow" data-roll="1d{{system.attributes.intuition}}"
                  data-label="Intuition">Intuition</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_attr_intuition" name="system.attributes.intuition" value=system.attributes.intuition}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.persuade" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.intuition}}+d{{system.abilities.orientation}}"
                  data-label="Orientierung">Orientierung</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_orientation"
                name="system.abilities.orientation" value=system.abilities.orientation}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.stealth" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.intuition}}+d{{system.abilities.stealth}}"
                  data-label="Verstohlenheit">Verstohlenheit</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_stealth"
                name="system.abilities.stealth" value=system.abilities.stealth}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.alertness" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.intuition}}+d{{system.abilities.alertness}}"
                  data-label="Wachsamkeit">Wachsamkeit</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_alertness"
                name="system.abilities.alertness" value=system.abilities.alertness}}
              </div>
            </div>

            <div class="attribute-group">
              <div class="flexrow flex-group-center">
                <label for="system.attributes.reason" class="resource-label align-left attribute-label rollable"
                  data-roll-type="savingThrow" data-roll="1d{{system.attributes.reason}}"
                  data-label="Verstand">Verstand</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_attr_reason" name="system.attributes.reason" value=system.attributes.reason}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.knowledge" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.reason}}+d{{system.abilities.knowledge}}"
                  data-label="Wissen">Wissen</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_knowledge"
                name="system.abilities.knowledge" value=system.abilities.knowledge}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.willpower" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.reason}}+d{{system.abilities.willpower}}"
                  data-label="Willenstärke">Willenstärke</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_willpower"
                name="system.abilities.willpower" value=system.abilities.willpower}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.searching" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.reason}}+d{{system.abilities.searching}}"
                  data-label="Suchen">Suchen</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_searching"
                name="system.abilities.searching" value=system.abilities.searching}}
              </div>
            </div>

            <div class="attribute-group">
              <div class="flexrow flex-group-center">
                <label for="system.attributes.magic" class="resource-label align-left attribute-label rollable"
                  data-roll-type="savingThrow" data-roll="1d{{system.attributes.magic}}"
                  data-label="Magie">Magie</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_attr_magic" name="system.attributes.magic" value=system.attributes.magic}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.magic_body" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.magic}}+d{{system.abilities.magic_body}}"
                  data-label="Körper/Sinne">Körper/Sinne</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_magic_body"
                name="system.abilities.magic_body" value=system.abilities.magic_body}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.magic_fate" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.magic}}+d{{system.abilities.magic_fate}}"
                  data-label="Schicksal/Geister">Schicksal/Geister</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_magic_fate"
                name="system.abilities.magic_fate" value=system.abilities.magic_fate}}
              </div>

              <div class="ability flexrow flex-group-center">
                <label for="system.abilities.magic_elemental" class="resource-label rollable align-left ability-label "
                  data-roll-type="skill" data-roll="d{{system.attributes.magic}}+d{{system.abilities.magic_elemental}}"
                  data-label="Elemente/Energie">Elemente/Energie</label>
                {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-dice-select.hbs"
                group_name="radio_abi_magic_elemental"
                name="system.abilities.magic_elemental" value=system.abilities.magic_elemental}}
              </div>
            </div>
          </div>
          <!-- </aside> -->
          <div>
            <div class="features">
              <h3 class="quick-label">Tricks</h3>
              {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-tricks.hbs"}}
            </div>
            <div class="features">
              <h3 class="quick-label">Kampf</h3>
              {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-fight.hbs"}}
            </div>
            <div class="features">
              <h3 class="quick-label">Technik &amp; Manöver</h3>
              <div class="small">
                4xD6, 3xD8, 2xD10, 1xD12
              </div>
              {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-technic-maneuvers.hbs"}}
            </div>
            <div class="features">
              <h3 class="quick-label">Wissensbereiche</h3>
              {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-knowledge.hbs"}}
            </div>
          </div>
        </div>
        <!--
        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-features.hbs"}}
        </section>-->

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Social Tab --}}
    <div class="tab social" data-group="primary" data-tab="social">
      {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-social.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Magic Tab --}}
    <div class="tab magic" data-group="primary" data-tab="magic">
      {{> "systems/dieseldrachen-vtt/templates/actor/parts/actor-magic.hbs"}}
    </div>

  </section>
</form>