<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  <div class="roll-result">
    {{{dicePoolRollHTML}}}
    <div class="roll-group">
      <div class="roll-row">
        <div class="roll-prop">
          <span>Schwierigkeit: </span>
          <span>{{difficulty}}</span>
        </div>
      </div>
    </div>
    {{> "systems/dieseldrachen-vtt/templates/chat/success-partial.hbs"}}
    <div class="dice-roll">
      <div class="dice-result">
        <div class="dice-formula">
          <span>{{damageRollFormula}}</span>
        </div>
        <div class="dice-formula">
          <span>{{damageFormula}}</span>
        </div>
      </div>
      <h4 class="dice-total">
        Schaden {{range}}: {{damage}}
      </h4>
    </div>
  </div>
</form>