<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  <div class="roll-result">
    {{{dicePoolRollHTML}}}
    {{> "systems/dieseldrachen-vtt/templates/chat/luck-roll-button-partial.hbs"}}
    <div class="roll-group">
      <div class="roll-row">
        <div class="roll-prop">
          <strong>Schwierigkeit: </strong>
          <span>{{difficulty}}</span>
        </div>
      </div>
      <div class="roll-row">
        <div class="roll-prop">
          <strong>Rückstoß: </strong>
          <span>{{recoil}}</span>
        </div>
      </div>
      <div class="roll-row">
        <div class="roll-prop">
          <strong>Anzahl Schüsse: </strong>
          <span>{{numShots}}</span>
        </div>
      </div>
      <div class="roll-row">
        <div class="roll-prop">
          <strong>Waffentyp: </strong>
          <span>{{ localize (concat "DIESELDRACHEN.Keys.weaponTypes." item.system.weaponType)}}</span>
        </div>
      </div>
      <div class="roll-row">
        <div class="roll-prop">
          <strong>Rate: </strong>
          <span>{{rate}}</span>
        </div>
      </div>
    </div>
    {{> "systems/dieseldrachen-vtt/templates/chat/success-partial.hbs"}}
    <div class="dice-roll">
      <h4 class="dice-total">
        <span>Schaden {{range}}: {{damage}}</span>
      </h4>
    </div>
    {{> "systems/dieseldrachen-vtt/templates/chat/hit-quality-result.hbs"}}
  </div>
</form>