<form class="roll-card">
  <div class="card-title">
    {{label}}
  </div>
  <div class="roll-result">
    {{{dicePoolRollHTML}}}
    <div class="roll-group">
      <div class="roll-row">
        <div class="roll-prop">
          <span>Schwierigkeit: </span>
          <span>{{difficulty}}</span>
        </div>
      </div>
      <div class="roll-row">
        <div class="roll-prop">
          <span>Rückstoß: </span>
          <span>{{recoil}}</span>
        </div>
      </div>
      <div class="roll-row">
        <div class="roll-prop">
          <span>Rate: </span>
          <span>{{rate}}</span>
        </div>
      </div>
    </div>
    {{> "systems/dieseldrachen-vtt/templates/chat/success-partial.hbs"}}
    <div class="dice-roll">
      <h4 class="dice-total">
        <span>Schaden {{range}}: {{damage}}</span>
      </h4>
    </div>
  </div>
</form>