<section class="">

    <div class="resource flexrow">
        <label for="system.condition" class="resource-label flex-col-width-03">Zustand</label>
        <div class="resource-content flex-center flex-between">
            <input name="system.condition" data-dtype="String" style="width:100%" value="{{system.condition}}" />
        </div>
    </div>
    <div class="resource flexrow">
        <label for="" class="resource-label flex-col-width-03">Verletzungen</label>
        <div class="grid grid-2col">
            <div class="flex-col">
                <span class="icon-light-injury" title="Leichte Verletzungen"></span>
                <input type="text" name="system.lightInjuries" value="{{system.lightInjuries}}" data-dtype="Number"
                    class="tiny_input" />
            </div>
            <div class="flex-col">
                <span class="icon-heavy-injury" title="Schwere Verletzungen"></span>
                <input type="text" name="system.heavyInjuries" value="{{system.heavyInjuries}}" data-dtype="Number"
                    class="tiny_input" />
            </div>
        </div>
    </div>

</section>
<!-- Aktionen -->
<div class="grid grid-3col">
    <button class="rollable action-button" data-roll-type="skill" data-action="skillRoll"
        data-roll="d{{system.attributes.athletics}}+d{{system.abilities.agility}}" data-roll-mod-dice="{{mobilityDice}}"
        data-label="Ausweichen / Schnell Bewegen" title="Ausweichen / Schnell Bewegen"><span
            class="icon-dodge"></span></button>

    <button class="rollable action-button button-rest" data-action="clickActionRest" title="Kurze Ruhepause (Rast, Nickerchen)"><span
            class="icon-rest"></span></button>
    <button class="rollable action-button button-heal" data-action="clickActionHeal"
        title="Lange Ruhepause (eine Nacht schlafen, einen Tag faulenzen)"><span class="icon-heal"></span></button>
</div>
<!-- Nahkampfwaffen -->
<ol class='items-list'>
    <li class='item flexrow items-header'>
        <div class='item-name'>{{localize 'Name'}}</div>
    </li>
    {{#each meleeWeapons as |item id|}}
    {{#if (eq item.system.mounted true)}}
    <li class='item flexcol item-align-left' data-item-id='{{item._id}}'>
        <div class='item-name'>
            <div class='item-image'>
                <a class='rollable' data-roll-type='meleeWeapon' data-action="meleeWeaponRoll">
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </a>
            </div>
            <span>{{item.name}}</span>
        </div>
        <div class="small_description">
            Reichweite: {{ localize (concat "DIESELDRACHEN.Ranges." item.system.range)}} |
            Schaden: {{item.system.damage}} |
        </div>
    </li>
    {{/if}}
    {{/each}}
    {{#each rangedWeapons as |item id|}}
    {{#if (eq item.system.mounted true)}}
    <li class='item flexcol item-align-left' data-item-id='{{item._id}}'>
        <div class='item-name rangedWeapon'>
            <div class='item-image'>
                <a class='rollable' data-action="rangedWeaponRoll" data-roll-type='rangedWeapon'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </a>
            </div>
            <span>{{item.name}}</span>
            <div class='ammunition-container'>
                <input type="text" value="{{item.system.bullets.value}}" data-item-stat="system.bullets.value"
                    class="item-editable-stat tiny_input">
                /
                <input type='text' name='system.bullets.max' value='{{system.bullets.max}}' data-dtype='Number'
                    class="tiny_input" disabled />
                <span class="weapon-reload-icon" data-item-id='{{item._id}}' data-action="clickWeaponReload"
                    title="{{system.bullets.perReload}} Kugeln pro Ladevorgang"><i
                        class="fa-solid fa-rotate clickable"></i></span>
            </div>
        </div>
        <div class="small_description">
            Präzision: {{item.system.precision_near}}/{{item.system.precision_close}}/{{item.system.precision_far}} |
            Schaden: {{item.system.damage_near}}/{{item.system.damage_close}}/{{item.system.damage_far}} |
            Rate: {{item.system.rate}} |
            Kap: {{item.system.capacity}}
        </div>
    </li>
    {{/if}}
    {{/each}}
</ol>