<div class="grid grid-5col">
    <div class="flex-col">
        <span class="diesel-dice-icon {{#if (eq value 4)}}ddi-selected{{/if}} char-dice-select d4" data-action="clickedDiceSelection" data-name="{{name}}" data-value="4"title="D4"></span>
    </div>
    <div class="flex-col">
        <span class="diesel-dice-icon {{#if (eq value 6)}}ddi-selected{{/if}} char-dice-select d6" data-action="clickedDiceSelection" data-name="{{name}}" data-value="6"title="D6"></span>
    </div>
    <div class="flex-col">
        <span class="diesel-dice-icon {{#if (eq value 8)}}ddi-selected{{/if}} char-dice-select d8" data-action="clickedDiceSelection"  data-name="{{name}}" data-value="8"title="D8"></span>
    </div>
    <div class="flex-col">
        <span class="diesel-dice-icon {{#if (eq value 10)}}ddi-selected{{/if}} char-dice-select d10" data-action="clickedDiceSelection" data-name="{{name}}" data-value="10"title="D10"></span>
    </div>
    <div class="flex-col">
        <span class="diesel-dice-icon {{#if (eq value 12)}}ddi-selected{{/if}} char-dice-select d12" data-action="clickedDiceSelection" data-name="{{name}}" data-value="12"title="D12"></span>
    </div>
</div>