<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>
      <h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
      <div class='grid grid-3col'>
        <div class='resource'>
          <label class='resource-label'>Preis</label>
          <input type='text' name='system.purchasePrice' value='{{system.purchasePrice}}' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>Reichweite</label>
           <select name='system.range' data-dtype='String'>
            <option value='short' {{#if (eq system.range 'short')}}selected{{/if}}>Nah</option>
            <option value='medium' {{#if (eq system.range 'medium')}}selected{{/if}}>Mittel</option>
            <option value='long' {{#if (eq system.range 'long')}}selected{{/if}}>Lang</option>
          </select>
        </div>
        <div class='resource'>
          <label class='resource-label'>Waffengewicht</label>
          <select name="system.weaponWeight">
            <option value="4" {{#if (eq system.weaponWeight 4)}}selected{{/if}}>D4</option>
            <option value="6" {{#if (eq system.weaponWeight 6)}}selected{{/if}}>D6</option>
            <option value="8" {{#if (eq system.weaponWeight 8)}}selected{{/if}}>D8</option>
            <option value="10" {{#if (eq system.weaponWeight 10)}}selected{{/if}}>D10</option>
            <option value="12" {{#if (eq system.weaponWeight 12)}}selected{{/if}}>D12</option>
          </select>
        </div>
        <div class='resource'>
          <label class='resource-label'>Bewegungsabzug</label>
          <input type='text' name='system.weight' value='{{system.weight}}' data-dtype='String' />
        </div>
        <div class='resource'>
          <label class='resource-label'>Schaden</label>
          <input type='text' name='system.damage' value='{{system.damage}}' data-dtype='String' />
        </div>
        <div class='resource'>
          <label class='resource-label'>Fähigkeit</label>
          <select name='system.ability' data-dtype='String'>
            <option value='brawl' {{#if (eq system.ability 'brawl')}}selected{{/if}}>Prügeln</option>
            <option value='fencing' {{#if (eq system.ability 'fencing')}}selected{{/if}}>Fechten</option>
          </select>
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Beschreibung</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
      }}
    </div>

    
  </section>
</form>