<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' />
    <div class='header-fields'>
      <h1 class='charname'><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>Preis</label>
          <input type='text' name='system.purchasePrice' value='{{system.purchasePrice}}' data-dtype='Number' />
        </div>
        <div class='resource'>
          <label class='resource-label'>Typ</label>
          <select name='system.weaponType' data-dtype='String' class="full-width-select">
            <option value='pistol' {{#if (eq system.weaponType 'pistol' )}}selected{{/if}}>Pistole</option>
            <option value='rifle' {{#if (eq system.weaponType 'rifle' )}}selected{{/if}}>Gewehr</option>
          </select>
        </div>
      </div>
    </div>
  </header>

  <div class="item-statistics flexcol">
    <div class="grid grid-2col">
      <div class='resource resource-group'>
        <label class='resource-label'>Präzision</label>

        <div class="grid grid-3col">
          {{> "systems/dieseldrachen-vtt/templates/shared/dice-option-select-partial.hbs" key="system.precision_near"
          value=system.precision_near dtype="Number"}}
          {{> "systems/dieseldrachen-vtt/templates/shared/dice-option-select-partial.hbs" key="system.precision_close"
          value=system.precision_close dtype="Number"}}
          {{> "systems/dieseldrachen-vtt/templates/shared/dice-option-select-partial.hbs" key="system.precision_far"
          value=system.precision_far dtype="Number"}}
        </div>
      </div>

      <div class='resource resource-group'>
        <label class='resource-label'>Schaden</label>
        <div class="grid grid-3col">
          <input type='text' name='system.damage_near' value='{{system.damage_near}}' data-dtype='Number' />
          <input type='text' name='system.damage_close' value='{{system.damage_close}}' data-dtype='Number' />
          <input type='text' name='system.damage_far' value='{{system.damage_far}}' data-dtype='Number' />
        </div>
      </div>
    </div>

    <div class="grid grid-4col resource-group">
      <div class='resource'>
        <label class='resource-label'>Rate</label>
        <div class="grid grid-1col">
          <input type='text' name='system.rate' value='{{system.rate}}' data-dtype='String' class="medium_input" />
        </div>
      </div>

      <div class='resource'>
        <label class='resource-label'>Kapazität</label>
        <div class="grid grid-1col">
          <input type='text' name='system.capacity' value='{{system.capacity}}' data-dtype='String'
            class="medium_input" />
        </div>
      </div>

      <div class='resource'>
        <label class='resource-label'>Schuss</label>
        <div class="grid grid-1col">
          <input type='text' name='system.bullets' value='{{system.bullets}}' data-dtype='Number'
            class="medium_input" />
        </div>
      </div>

      <div class='resource'>
        <label class='resource-label'>Bewegungsabzug</label>
        <div class="grid grid-1col">
          <input type='text' name='system.weight' value='{{system.weight}}' data-dtype='Number' class="medium_input" />
        </div>
      </div>
    </div>
  </div>
  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Beschreibung</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
      }}
    </div>


  </section>
</form>